  <%= bootstrap_form_for(@map) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>

    <div class="form-inputs">
      <%= f.text_field :latitude %>
      <%= f.text_field :longitude %>
      <%= f.text_field :address %>
      <%= f.text_field :description %>
      <%= f.text_field :title %>
    </div>

    <div class="form-actions">
      <%= f.submit "Valider" %>
    </div>
  <% end %>
