<div class="log-and-sign">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="connect-account">
          <h2>Connexion</h2>
          <p> pour les clients ayant deja un compte</p>
          <%= form_for(:user, url: session_path(:user)) do |f| %>
          <div class="form-inputs">
            <div class="form-group required">
              <%= f.label :'E-mail', class: "control-label" %>
              <%= f.email_field :email, class: "form-control", id: "email" %>
            </div>
            <div class="form-group required">
              <%= f.label :'Mot de passe', class: "control-label" %>
              <%= f.password_field :password, class: 'form-control', id: 'password' %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit :"Log in" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
        <div class="col-xs-6">
          <div class="create-account">
            <div class="deport_form">
              <h2>Creer un compte</h2>
              <p> Merci d'entrer les informations suivantes pour creer un compte</p>
              <%= form_for(:user, url: registration_path(:user)) do |f| %>
                <div class="form-inputs">
                  <div class="form-group required">
                    <%= f.label :'E-mail', class: "control-label" %>
                    <%= f.email_field :email, class: "form-control", id: "email" %>
                  </div>
                  <div class="form-group required">
                    <%= f.label :'Mot de passe', class: "control-label" %>
                    <%= f.password_field :password, class: 'form-control', id: 'password' %>
                  </div>
                  <div class="form-group required">
                    <%= f.label :'Confirmation du mot de passe', class: "control-label" %>
                    <%= f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation' %>
                  </div>
                </div>
                <div class="actions">
                  <%= f.submit "S'inscrire" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
