<html>
  <head>
    <style media="screen">
      html, body {
        height: 100%;
        width: 100%;
        background: url(../../elem/illu-legend.jpg) no-repeat;
        background-position:top;
        }
    </style>
  </head>
  <body>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <div class="cart-count-link">
      <%= link_to image_tag("/elem/shopping-bag.png", :class =>"panier-header-store"), current_cart %>
      <ul class="nav pull-right">
        <div class="cart-count-store">
          <% if current_cart %>
            <li><%= current_cart.cart_count%></li>
          <% end %>
        </div>
      </ul>
    </div>
    <section class="product_section_1">
      <header id="top" class="header-store">
        <div class="img-top container">
          <div class="row">

          </div>
        </div>
        <div class="container shop-header-container">
          <div class="row sect-overlap">
            <div class="col-xs-4 col-xs-offset-4 bloc-overlap title-sect"><h1>LES INFUSIONS DU SULTAN</h1></div>
            <div class="col-xs-9 col-xs-offset-1"><%=image_tag("photo-back-section-1.png")%></div>
            <div class="col-xs-4 col-xs-offset-7 bloc-overlap img_soli"><%=image_tag("illu-front-section-1.png")%></div>
            <div class="col-xs-5 col-xs-offset-2 bloc-overlap txt_soli"><p>Les infusions du sultan sont cueillies à la main, de manière raisonnée par le dernier peuple nomade de Turquie. Les villageois perpétuent ainsi leur mode de vie traditionnel et protège la biodiversité des régions concernés. Découvrez nos infusions de fleur de lavande, la sauge de montagne, le thym ou le tilleul.</p></div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row col-xs-10 col-xs-offset-0 col-md-10 col-md-offset-1">
          <% @type1.each_with_index do |product, index| %>
          <div class="col-sm-5 col-sm-offset-1 col col-lg-3 col-lg-offset-1 product_img">
            <h3 class=""><%= product.title %></h3>
            <%= image_tag(product.image_url, :class => 'the_img') %>
            <%= link_to("#myModal#{index}",class: "%w(poplight discover", data: { toggle: "modal"}) do %>
              <%= image_tag("/elem/decouvrir-shop.png", onmouseover: "this.src='#{asset_path('/elem/decouvrir-shop-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/decouvrir-shop.png')}'", :style => "width:135px") %>
            <% end %>
            <div id="myModal<%=index%>" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <p><%=image_tag("logo.png", :class => ' col-xs-4 col-xs-offset-4')%></p>
                  </div>
                  <div class="modal-body">
                    <%= image_tag(product.image_url, :class => 'offset-sect-1 col-xs-offset-1 col-xs-5') %>
                    <div class="offset-sect-1 col-xs-4 col-xs-offset-0">
                       <h2 class=""><%=product.title%><p class="popup-nomlatin"><%=product.nomlatin%></p></h2>
                        <p class=""> Certifié biologique par Ecocert </p>
                        <p class=""><%= sanitize(product.description, :class =>'')%></p>
                        <h4 class=""> PROPRIÉTÉS </h4>
                        <p class=""><%= sanitize(product.proprietes, :class =>'')%></p>
                        <div class="">
                          <span class=""><%=number_to_currency(product.price)%></span><br/>
                          <%= form_for(:quantity, url: line_items_path(product_id: product), remote: true) do |form| %>
                            <p>
                              <%= form.label :Qté%>
                              <%= form.select :quantity, (1..10) %>
                              <%= image_submit_tag("/elem/Btn-add.png", onmouseover: "this.src='#{asset_path('/elem/Btn-add-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/Btn-add.png')}'",:class =>"popup-add") %>
                            <p>
                          <% end %>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-xs-12 col-xs-offset-0">
                        <hr>
                        <p><b> ENGAGEMENTS LE BÉNÉFIQUE</b><p>
                        <br>
                        <p><b>Choix du lieu de récolte:</b> Obtention de l’autorisation de récolte et Validation du respect du cahier des charges d’Ecocert</p>
                        <p><b>Choix des plantes:</b>  Soumission des spécimens botaniques retenus à des conservatoires botaniques pour authentification.</p>
                        <p><b>Séchage traditionnel:</b> Séchage traditionnel des tiges étalées en fines couches sur les claies</p>
                        <p><b>Conditionnement:</b>  Assemblage artisanal des tiges et des drapeaux et étiquetage assurant la traçabilité du produit</p>
                        <p><b>Planication des cueillettes:</b>  Récolte de données sur les conditions environnementales et recherches sur la morphologie de l’espèce et sur ses populations.</p>
                        <p><b>Récolte manuelle:</b> Cueillette effectuées à la main tige par tige dans le respect de la plante et de son environnement</p>
                        <p><b>Traitement spécique:</b> Traitement au CO2 , selon les normes d’Ecocert, en cas d’infestation par des insectes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </section>
    <section class="product_section_1">
      <header id="top" class="header-store">
        <div class="img-top container">
          <div class="row">
          </div>
        </div>
        <div class="container shop-header-container">
          <div class="row sect-overlap">
              <div class="col-xs-4 col-xs-offset-4 bloc-overlap title-sect"><h1>LES INFUSIONS DU ROI</h1></div>
            <div class="col-xs-9 col-xs-offset-1"><%=image_tag("photo-back-section-2.jpg")%></div>
            <div class="col-xs-4 col-xs-offset-7 bloc-overlap img_soli"><%=image_tag("illu-front-section-2.jpg")%></div>
            <div class="col-xs-5 col-xs-offset-2 bloc-overlap txt_soli"><p>Les infusions du sultan sont cueillies à la main, de manière raisonnée par le dernier peuple nomade de Turquie. Les villageois perpétuent ainsi leur mode de vie traditionnel et protège la biodiversité des régions concernés. Découvrez nos infusions de fleur de lavande, la sauge de montagne, le thym ou le tilleul.</p></div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row col-xs-10 col-xs-offset-0 col-md-10 col-md-offset-1">
          <% @type2.each_with_index do |product, index| %>
          <div class="col-sm-5 col-sm-offset-1 col col-lg-3 col-lg-offset-1 product_img">
            <h3 class=""><%= product.title %></h3>
            <%= image_tag(product.image_url, :class => 'the_img') %>
            <%= link_to( "#myModal#{index}",class: "%w(poplight discover", data: { toggle: "modal"}) do %>
              <%= image_tag("/elem/decouvrir-shop.png", onmouseover: "this.src='#{asset_path('/elem/decouvrir-shop-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/decouvrir-shop.png')}'", :style => "width:135px") %>
            <% end %>
            <div id="myModal<%=index%>" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <p><%=image_tag("logo.png", :class => ' col-xs-4 col-xs-offset-4')%></p>
                  </div>
                  <div class="modal-body">
                    <%= image_tag(product.image_url, :class => 'offset-sect-1 col-xs-offset-1 col-xs-5') %>
                    <div class="offset-sect-1 col-xs-4 col-xs-offset-0">
                     <h2 class=""><%=product.title%><p class="popup-nomlatin"><%=product.nomlatin%></p></h2>
                       <%# <p class="popup-provenance"><%= sanitize(product.provenance, :class =>'popup-provenance')</p>%>
                      <p class=""> Certifié biologique par Ecocert </p>
                      <p class=""><%= sanitize(product.description, :class =>'')%></p>
                      <h4 class=""> PROPRIÉTÉS </h4>
                      <p class=""><%= sanitize(product.proprietes, :class =>'')%></p>
                      <div class="">
                        <span class=""><%=number_to_currency(product.price)%></span><br/>
                        <%= form_for(:quantity, url: line_items_path(product_id: product), remote: true) do |f| %>
                          <p>
                            <%= f.label :'Quantité' %>
                            <%= f.select :quantity, (1..10) %>
                            <%= image_submit_tag("/elem/Btn-add.png", onmouseover: "this.src='#{asset_path('/elem/Btn-add-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/Btn-add.png')}'",:class =>"popup-add") %>
                          <p>
                        <% end %>
                        <%#= link_to image_tag("Btn-add.png", onmouseover: "this.src='#{asset_path('/elem/Btn-add-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/Btn-add.png')}'",:class =>"popup-add"), line_items_path(product_id: product), remote: true, :method => :post, :class => "popup-add" %>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-xs-12 col-xs-offset-0">
                      <hr>
                      <p><b> ENGAGEMENTS LE BÉNÉFIQUE</b><p>
                      <br>
                      <p><b>Choix du lieu de récolte:</b> Obtention de l’autorisation de récolte et Validation du respect du cahier des charges d’Ecocert</p>
                      <p><b>Choix des plantes:</b>  Soumission des spécimens botaniques retenus à des conservatoires botaniques pour authentification.</p>
                      <p><b>Séchage traditionnel:</b> Séchage traditionnel des tiges étalées en fines couches sur les claies</p>
                      <p><b>Conditionnement:</b>  Assemblage artisanal des tiges et des drapeaux et étiquetage assurant la traçabilité du produit</p>
                      <p><b>Planication des cueillettes:</b>  Récolte de données sur les conditions environnementales et recherches sur la morphologie de l’espèce et sur ses populations.</p>
                      <p><b>Récolte manuelle:</b> Cueillette effectuées à la main tige par tige dans le respect de la plante et de son environnement</p>
                      <p><b>Traitement spécique:</b> Traitement au CO2 , selon les normes d’Ecocert, en cas d’infestation par des insectes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </section>
    <script>
      jQuery(function($){
        //Lorsque vous cliquez sur un lien de la classe poplight
        $('a.poplight').on('click', function() {
          var popID = $(this).data('rel'); //Trouver la pop-up correspondante
          var popWidth = $(this).data('width'); //Trouver la largeur

          //Faire apparaitre la pop-up et ajouter le bouton de fermeture
          $('#' + popID).fadeIn().css({ 'width': popWidth}).prepend('<a href="#" class="close"><img src="/elem/croix.png" class="btn_close" title="Close Window" alt="Close" style="width:30px; position:relative;top:40px; right:30px;" /></a>');

          //Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
          var popMargTop = ($('#' + popID).height() + 80) / 2;
          var popMargLeft = ($('#' + popID).width() + 80) / 2;

          //Apply Margin to Popup
          $('#' + popID).css({
            'margin-top' : -popMargTop,
            'margin-left' : -popMargLeft
          });

          //Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues d'anciennes versions de IE
          $('body').append('<div id="fade"></div>');
          $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn()

          return false;
        });


        //Close Popups and Fade Layer
        $('body').on('click', 'a.close, #fade', function() { //Au clic sur le body...
          $('#fade , .popup_block').fadeOut(function() {
            $('#fade, a.close').remove();
        }); //...ils disparaissent ensemble
          return false;
        });
      });
    </script>
  </body>
  </html>
