
<!DOCTYPE html>
<html lang="en">
<head>
   <title><%= yield(:title) %></title>
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
<script>
new WOW().init();
</script>
<body class="<%= controller.controller_name %>">
  <div id="layout-main-page">
    <div class="header-zone">
    <div class="fix-menu">
<nav id="topmenu">
    <li><a href="#" class="class-menu"><div class="line-menu elem-one"></div><div class="line-menu elem-two"></div><div class="line-menu elem-three"></div></a>
      <div id="submenu">
        <ul>
          <li class="limen"><%= link_to 'ACCUEIL', home_path %></li>
          <li class="limen"><%= link_to'IDÉE', idea_path %></li>
          <li class="limen"><%= link_to'LÉGENDE', legend_path %></li>
          <li class="limen"><%= link_to'PRODUITS', store_path %></li>
          <li class="limen"><%= link_to 'POINTS DE VENTE', pointsofsale_path,  data: { no_turbolink: false } %></li>
          <li class="limen"><%= link_to'TRAVAILLER AVEC NOUS', workwithus_path %></li>
          <li class="limen"><%= link_to'CONTACT', contact_path %></li>
          <li class="limen"><img src="/elem/Btn-langue.png" alt="bouton-langue" /></li>
          <li class="limen"> <%= link_to image_tag("/elem/shopping-bag.png", :class =>"panier-header-menu"), current_cart %></li>
          <div class="cart-count-menu">
            <% if current_cart %>
              <%= current_cart.cart_count%>
            <% end %>
          </div>
          <% if current_user && current_user.admin? %>
          <li><%= link_to'Orders', orders_path %></li>
          <li><%= link_to'Products', products_path %></li>
          <li><%= link_to'Users', users_path %></li>
          <li><%= link_to'Shops', maps_path %></li>
          <% end %>
          <% if current_user && !current_user.admin? %>
          <li class="limen"><a href="#">MON COMPTE</a></li>
          <% end %>
          <% if current_user %>
          <li><p class="log-buttons"><%= button_to 'deconnexion', destroy_user_session_path, method: :delete %></p></li>
          <% else %>
          <li class="log-buttons"><p><a data-toggle="modal" data-target="#myModal2">INSCRIPTION / CONNEXION</a></p></li>
          <% end %>
          <li><%= link_to instagram_path do image_tag("/elem/insta.png", onmouseover: "this.src='#{asset_path('/elem/insta-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/insta.png')}'", width: '25') end %><%= link_to facebook_path do image_tag("/elem/facebook.png", onmouseover: "this.src='#{asset_path('/elem/facebook-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/facebook.png')}'", width: '13') end %></li>
        </ul>
      </div>
    </nav>
<h1 class="top-title-menu"><%= yield(:title) %></h1>
</div>
<div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
<%# app/views/showcase/Idea.html.erb%>
<% if @check %>
    <div class="img-top hidden-xs">
      <%= link_to image_tag("/elem/logo2.png"), home_path %>
  </div>
  <div class="img-top visible-xs">
      <%= link_to image_tag("/elem/logo-mobile.png"), home_path %>
  </div>
<% else %>
    <div class="img-head margin-img hidden-xs">
      <%= link_to image_tag("/elem/logo2.png"), home_path %>
    </div>
    <div class="img-head margin-img visible-xs">
        <%= link_to image_tag("/elem/logo-mobile.png"), home_path %>
    </div>
<% end %>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="log-and-sign">
          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <div class="connect-account">
                  <h2>Connexion</h2>
                  <p> pour les clients ayant deja un compte</p>
                  <%= form_for(:user, url: session_path(:user)) do |f| %>
                  <div class="form-inputs">
                    <div class="form-group required">
                      <%= f.label :'E-mail', class: "control-label" %>
                      <%= f.email_field :email, class: "form-control", id: "email" %>
                    </div>
                    <div class="form-group required">
                      <%= f.label :'Mot de passe', class: "control-label" %>
                      <%= f.password_field :password, class: 'form-control', id: 'password' %>
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= f.submit :"Log in" %>
                  </div>
                  <%= render "devise/shared/links" %>
                <% end %>
              </div>
            </div>
                <div class="col-xs-6">
                  <div class="create-account">
                    <div class="deport_form">
                      <h2>Creer un compte</h2>
                      <p> Merci d'entrer les informations suivantes pour creer un compte</p>
                      <%= form_for(:user, url: registration_path(:user)) do |f| %>
                        <div class="form-inputs">
                          <div class="form-group required">
                            <%= f.label :'E-mail', class: "control-label" %>
                            <%= f.email_field :email, class: "form-control", id: "email" %>
                          </div>
                          <div class="form-group required">
                            <%= f.label :'Mot de passe', class: "control-label" %>
                            <%= f.password_field :password, class: 'form-control', id: 'password' %>
                          </div>
                          <div class="form-group required">
                            <%= f.label :'Confirmation du mot de passe', class: "control-label" %>
                            <%= f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation' %>
                          </div>
                        </div>
                        <div class="actions">
                          <%= f.submit "S'inscrire" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<%= yield %>
</div>
<footer class="footer-app">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 fixed-middle">
        <%= link_to'Mentions légales', mentions_path %>
        <a href="#">FAQ</a>
        <a href="#">Crédits</a>
        <%= link_to'Kit presse', presse_path %>
      </div>
    </div>
  </div>
  </div>
</footer>
<script>
     new WOW().init();
     </script>
     <script media="screen and (min-width: 989px)">
       wow = new WOW(
         {
           animateClass: 'animated',
           offset:       100,
           callback:     function(box) {
             console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
           }
         }
       );
       wow.init();
     </script>
    </body>
</html>
